<div class="main-container">
  <div class="edit-contents">
    <h1 class="text-center">ユーザー情報の編集</h1>
    <small class="text-secondary d-block mb-4 text-center">メールアドレスとパスワードを変更する場合は現在のパスワードの入力が必要です</small>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-group' }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="mb-3">
            <div class="form-group text-center custom-file">
              <input type="file" class="custom-file-input" id="customFile" name="artist[image]">
              <label class="custom-file-label text-center" for="customFile">画像を選択<i class="fas fa-file-image" style="margin-left: 2px;"></i></label>
            </div>
          </div>
          <div class="mb-3">
            <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "ユーザーネーム", class: 'form-control', required: "required" %>
          </div>
          <div class="mb-3">
            <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: 'form-control', required: "required" %>
          </div>
          <div class="mb-3">
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "新しいパスワード" %>
          </div>
          <div class="mb-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "新しいパスワード（確認用）" %>
          </div>
          <div class="mb-3">
            <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', placeholder: "現在のパスワード" %>
          </div>
          <div class="actions">
            <%= f.submit "変更", class: 'btn  btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
