<div class="main">
  <div class="login">
    <h1>新規登録</h1>
    <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), local: true) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: "required" %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", required: "required" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", required: "required" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign Up", class: "btn btn-primary btn-block btn-large" %>
      </div>
    <% end %>
  </div>
</div>
