<div class="main-container">
  <div class="artist">
    <%= form_for @artist, html: { multipart: true } do |f| %>
      <div class="d-flex justify-content-between align-items-end mb-1">
        <%= f.label :name, raw("アーティスト名 <span class='text-danger'>*</span>"), class: 'mb-0' %>
        <div class="col-3 d-flex align-items-center custom-checkbox label-checkbox-wrapper">
          <%= f.label :favorited, "お気に入り", class: 'mb-0 flex-shrink-0 grey-label' %>
          <%= f.check_box :favorited %>
        </div>
      </div>
      <%= f.text_field :name, class: 'form-control mb-3' %>
      <div class="d-flex justify-content-between align-items-center mb-1">
        <%= f.label :nickname, "ニックネーム", class: 'mb-0' %>
        <div class="col-3 d-flex align-items-center custom-checkbox label-checkbox-wrapper">
          <%= f.label :nickname_mode, "ニックネーム表示", class: 'mb-0 flex-shrink-0 grey-label' %>
          <%= f.check_box :nickname_mode %>
        </div>
      </div>
      <%= f.text_field :nickname, class: 'form-control mb-3' %>
      <div class="form-group row mb-4">
        <div class="col d-flex flex-column align-items-center">
          <%= f.label :genre, "ジャンル", class: 'mb-1' %>
          <%= f.select :genre, ['ロック', 'Jpop', 'hiphop', 'アイドル', 'メタル', 'ビジュアル系', 'その他'], {}, class: 'form-control' %>
        </div>
        <div class="col d-flex flex-column align-items-center">
          <%= f.label :founding_date, "結成日", class: 'mb-1' %>
          <%= f.date_field :founding_date, class: 'form-control' %>
        </div>
        <div class="col d-flex flex-column align-items-center">
          <%= f.label :first_show_date, "初めて見た日", class: 'mb-1' %>
          <%= f.date_field :first_show_date, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group text-center custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="artist[image]">
        <label class="custom-file-label text-center" for="customFile">画像を選択<i class="fas fa-file-image" style="margin-left: 2px;"></i></label>
      </div>
      <div class="form-group">
        <%= f.label :memo, "メモ" %>
        <%= f.text_area :memo, class: 'form-control memo' %>
      </div>
      <div class="form-group text-center">
        <%= f.submit '更新', class: 'btn btn-primary w-50 mx-auto' %>
      </div>
    <% end %>
  </div>
</div>
