<div class="main-container">
  <div class="artist-index">
    <div class="d-flex justify-content-between mb-3">
      <%= link_to new_artist_path, class: 'btn btn-success mr-2' do %>
        <i class="fas fa-plus-circle"></i> 新規アーティスト作成
      <% end %>
      <%= link_to favorites_artists_path, class: 'btn btn-info' do %>
        <i class="fas fa-heart"></i> お気に入り
      <% end %>
    </div>
    <div class="row">
      <% @artists.each do |artist| %>
        <div class="col-md-4">
          <div class="card mb-4 clickable" data-href="<%= artist_path(artist) %>">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">
                  <% if artist.nickname_mode && artist.nickname.present? %>
                    <%= artist.nickname %> (<%= artist.name %>)
                  <% else %>
                    <%= artist.name %>
                    <% if artist.nickname.present? %>
                      ( <%= artist.nickname %> )
                    <% end %>
                  <% end %>
                </h5>
                <%= link_to '編集', edit_artist_path(artist), class: 'btn btn-primary btn-fixed-height' %>
              </div>
              <div class="d-flex justify-content-between align-items-center mt-2">
                <p class="card-text mb-0">作成日: <%= artist.created_at.strftime("%Y-%m-%d") %></p>
                <%= link_to '削除', artist, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
