<div class="main-container">
  <div class="card">
    <div class="card-body">
      <div class="text-center display-4">
        ライブ予定
      </div>
      <%= render 'shared/error_messages', resource: @live_schedule %>
      <%= form_with model: @live_schedule, html: { multipart: true } do |f| %>
        <div class="form-row">
          <div class="form-group col-md-6 text-center">
            <%= f.label :name, "イベント名" %>
            <%= f.text_field :name, class: 'form-control', placeholder: '入力しない場合は日付と会場のエリアになります' %>
          </div>
          <div class="form-group col-md-6">
            <div class="d-flex justify-content-between align-items-center text-center">
              <%= f.label :artist_id, "アーティスト" %>
              <%= link_to '新しいアーティストを追加', new_artist_path(from: request.fullpath), class: 'btn btn-secondary btn-sm mb-1' %>
            </div>
            <% selected_artist_id = params[:selected_artist_id] || '' %>
            <%= f.select :artist_id, current_user.artists.all.collect { |artist| [artist.display_name, artist.id] }, { include_blank: '-アーティストを選択-', selected: selected_artist_id }, class: "form-control" %></div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4 text-center">
            <%= f.label :date, "日付" %> <span class='text-danger'>*</span>
            <%= f.date_field :date, class: 'form-control' %>
          </div>
          <div class="form-group col-md-4 text-center">
            <%= f.label :open_time, "OPEN" %>
            <%= f.text_field :open_time,  class: 'timepicker', placeholder: '時間を選択可能' %>
          </div>
          <div class="form-group col-md-4 text-center">
            <%= f.label :start_time, "START" %>
            <%= f.text_field :start_time, class: 'timepicker', placeholder: '時間を選択可能' %>
          </div>
        </div>
        <%= f.fields_for :venue do |venue_fields| %>
          <div class="form-group text-center">
            <label for="venue-name-display">会場 <span class='text-danger'>*</span></label>
            <input type="text" id="venue-name-display" class="form-control Autocomplete" placeholder="会場の名前を入力">
            <%= venue_fields.hidden_field :name, id: "nameField" %>
            <%= venue_fields.hidden_field :google_place_id, id: "google_place_idField" %>
            <%= venue_fields.hidden_field :area, id: "areaField" %>
            <%= venue_fields.hidden_field :latitude, id: "latitudeField" %>
            <%= venue_fields.hidden_field :longitude, id: "longitudeField" %>
          </div>
        <% end %>
        <div class="form-group">
          <div class="ticket-status-label text-center">
            <%= f.label :ticket_status, "チケット購入状況" %>
          </div>
          <div class="btn-radio-group d-flex justify-content-around">
            <% LiveSchedule.ticket_statuses.keys.each do |status| %>
              <label class="btn-radio col-md-3">
                <%= f.radio_button :ticket_status, status, id: "ticket_status_#{status}", checked: status == '未購入' %>
                <%= f.label "ticket_status_#{status}", status.humanize %>
              </label>
            <% end %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4 text-center">
            <%= f.label :ticket_sale_date, "チケット発売日時" %>
            <%= f.text_field :ticket_sale_date, class: 'flatpickr', placeholder: '日時を選択可能' %>
          </div>
          <div class="form-group col-md-4 text-center">
            <%= f.label :ticket_price, "チケット代" %>
            <%= f.number_field :ticket_price, class: 'form-control', id: 'ticket_price_input' %>
          </div>
          <div class="form-group col-md-4 text-center">
            <%= f.label :drink_price, "ドリンク代" %>
            <%= f.number_field :drink_price, class: 'form-control',value: @live_schedule.drink_price || 600 %>
          </div>
        </div>
        <div class="form-row liveimage text-center">
          <div class="label-box__inner">
              <label class="mealpicture">タイムテーブル画像を追加 <i class="fas fa-upload"></i>
                  <%= f.file_field :timetable ,class:"input-default" %>
                  <div class="boxFileSelect"></div>
              </label>
          </div>
          <div class="label-box__inner">
              <label class="mealpicture">告知画像を追加 <i class="fas fa-upload"></i>
                  <%= f.file_field :announcement_image ,class:"input-default" %>
                  <div class="boxFileSelect"></div>
              </label>
          </div>
        </div>
        <div class="form-group text-center">
          <%= f.label :memo, "メモ" %>
          <%= f.text_area :memo, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit "登録", class: 'btn btn-dark btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
